<div class="banner2">

<div class="new-mooring">

    <h1>Create a Mooring</h1>

    <%= simple_form_for @mooring do |f|  %>

    <%= f.label :location, "Location"  %><br>
    <%= f.text_field :location %><br>
    <%= f.label :price, "Price"  %><br>
    <%= f.text_field :price %><br>
    <%= f.input :photo %><br><br>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit class: "btn btn-danger" %>
    <% end %>

</div>

</div>

