<div class="banner2">

<div class="container new-mooring">

    <h1>Create a Mooring</h1>

    <%= form_for @mooring do |f|  %>
    <%= f.label :location, "Location"  %><br>
    <%= f.text_field :location %><br>
    <%= f.label :price, "Price"  %><br>
    <%= f.text_field :price %><br><br>
    <%= f.submit class: "btn btn-danger" %>
    <% end %>

</dv>

</div>
